* {
    padding: 0;
    margin: 0;
}

.body {
    min-height: 100%;
}
.contenedor {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #eedbf8;
}

.logo {
    padding: 25px;
    margin: 25px;
    
}

.texto {
    position: absolute;
    background-color: #eedbf8;
    border: none;
    height: 388px;
    width: 680px;
    left: 240px;
    top: 158px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
}

.texto::placeholder {
    color: #17153B;
    
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}


.condiciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    line-height: 18px;
    top: 569px;
    left: 240px;
    opacity: 80%;
    flex-grow: 0;
 }

 .botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 680px;
    height: 67px;
    top: 605px;
    padding: 1% 0;
    left: 240px;
    gap: 24px;
    position: absolute;
 }

 .boton-encriptar {
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #eedbf8;
    border: 1px solid #7A1CAC;
    border-radius: 24px;
    align-items: center;
    line-height: 19.36px;
    background-color: #7A1CAC;
    padding: 24px;
    box-sizing: border-box;

    
 }

 .boton-desencriptar {
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #7A1CAC;
    border: 1px solid #7A1CAC;
    border-radius: 24px;
    align-items: center;
    line-height: 19.36px;
    background-color: #eedbf8;
    padding: 24px;

 }

 .boton-encriptar:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;

 }
  
 .boton-desencriptar:hover {
    margin: 0.3%;
    width: 45.5%;
    padding: 0.8%;
 }