
* {
    padding: 0;
    margin: 0;
}

.contenedor {
    background-color: #eedbf8;
    height: 100vw;
    width: 100vw;
}

.texto {
    position: absolute;
    background-color: #eedbf8;
    border: none;
    height: 48px;
    width: 577px;
    left: 240px;
    top: 168px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
}

.texto::placeholder {
    color: #17153B;
    
}


.condiciones {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}