* {
    padding: 0;
    margin: 0;
}

.contenedor {
    background-color: #eedbf8;
    height: 100vw;
    width: 100vw;
}

.logo {
    padding: 25px;
    margin: 25px;
    
}

.texto {
    position: absolute;
    background-color: #eedbf8;
    border: none;
    height: 488px;
    width: 680px;
    left: 240px;
    top: 168px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
}

.texto::placeholder {
    color: #17153B;
    
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}


.condiciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
 }

 
